<h1><%= @quiz.name %></h1>
<p><%= link_to 'Create New Card', new_quiz_card_path(@quiz), class: 'button' %></p>
<p><%= link_to 'Take Quiz', takequiz_path(@quiz), class: 'button' %></p>
<% @quiz.cards.each do |c| %>
<ul>
<li><%= c.question %></li>
</ul>
<% end %>