<h1>New Card</h1>
<%= form_for [@quiz, @card] do |f| %>
<%= f.text_field :question, placeholder: 'Question' %>
<%= f.text_field :answer, placeholder: 'Answer' %>
<%= f.submit 'Create Card', class: 'button' %>
<% end %>